.ui.borderless.topmenu.menu {
  font-family: 'Ranchers', sans-serif;
  background-color: #3B3D30;
  box-shadow: none;
  border: none;
  padding-top: 10px;
  padding-left: 0px;
  color: #d2d1a0;
}

.footer-background {
  font-family: 'Montserrat', sans-serif;
  background-color: #3B3D30;
  color: lightpink;
}

.header-name {
  font-family: 'Ranchers', sans-serif;
  color: #3B3D30;
  padding-left: 2px;
  margin-left: 0px;
}


.middle-contents {
  font-family: 'Montserrat', sans-serif;
  background-color: #d2d1a0;
  text-align: center;
  padding-bottom: 20px;
}

.page-headers {
  font-family: 'Ranchers', sans-serif;
  color: #3B3D30;
}

.sidebar-menu {
  background-color: #3B3D30;
  color: lightpink;
  font-family: 'Montserrat', sans-serif;
}



.ui.borderless.middlemenu.menu {
  font-family: 'Montserrat', sans-serif;
  padding-left: 20px;
  box-shadow: none;
  border: black;
  background-color: #3B3D30;
}


